 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <div class="col-lg-4 text-center">
                <p>Tüm hakları saklıdır. &copy; MyBlogSite @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-mail Adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                Gönder
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
